[user]
indicatorOrientation=1
showPreviews=true
showWindowCount=true
forceIconSize=true
iconSize=22
pinned=/home/inferno214221/.nix-profile/share/applications/launcher.desktop;/home/inferno214221/.nix-profile/share/applications/firefox.desktop;/home/inferno214221/.nix-profile/share/applications/org.gnome.Nautilus.desktop;/home/inferno214221/.nix-profile/share/applications/terminator.desktop;/home/inferno214221/.nix-profile/share/applications/gimp.desktop;/home/inferno214221/.nix-profile/share/applications/codium-url-handler.desktop;/home/inferno214221/.nix-profile/share/applications/discord.desktop;/home/inferno214221/.nix-profile/share/applications/GitKraken.desktop;/home/inferno214221/.nix-profile/share/applications/com.sayonara-player.Sayonara.desktop;/home/inferno214221/.nix-profile/share/applications/thunderbird.desktop;
keyComboActive=true
noWindowsListIfSingle=false
indicatorColor=rgb(76,166,230)
indicatorColorFromTheme=false
inactiveColor=rgb(76,166,230)
middleButtonBehavior=1
previewScale=0.125
